.wrapper{
	background-color: #000;
}
.contenido{
	margin: 0px auto;
	width: 1000px;
	height: 1280px;
	background-image: url("../img/fondo.jpeg");
}
.logotipo{	
	float: left;
	width: 300px;
}
.logotipo a img{
	margin-top: 70px;
	margin-left: 50px;
}
.nav{
	float: right;
	margin-right: 5px;
}
.nav ul{
	list-style-type: none;
}
.nav ul li{
	margin-top: 70px;
	margin-right: 10px;
	padding-top: 15px;
	float: left;
}
.nav ul li a{
	color: #F67;
	text-decoration: none;
}