.wrapper{
	background-color: #2b1408;
}
.contenido{
	background-image: url("../img/fondo.jpeg");
	box-sizing:border-box;
	height: 1280px;
	margin: 0px auto;
	padding: 0px 70px 0px 70;
	width: 1000px;
}
.logotipo{	
	float: left;
	width: 300px;
}
.logotipo a img{
	margin-left: -15px;
	margin-top: 70px;
}
.nav{
	float: right;
}
.nav ul{
	list-style-type: none;
}
.nav ul li{
	float: left;
	margin-right: 13px;
	margin-top: 100px;
}
.nav ul li a{
	color: #FFF;
	font-size: 24px;
	text-decoration: none;
}
.cuerpo{
	background-color: #e5e2e2;
}
.cuerpo-header{
	background-color: #431902;
	color: #fff;
	padding-bottom: 20px;
	padding-left: 45px;
	padding-right: 40px;
	padding-top: 25px;
	position: relative;
	z-index: 2;
}
.icon-pack{
	display: inline-block;
	width: 280px;
}
.icon-pack h1{
	margin: 0px 0 !important;
}
.icon-pack a{
	background-color: #321205;
	border-radius: 8px;
	border: 1px #fff solid;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}
.icon-image{
	display: inline-block;
	position: absolute;
	right: 20px;
	top: -20px;
}
.social{
	position: absolute;
	right: 195px;
	top: 215px;
	width: 60px;
	z-index: 1;
}
.social img{
	margin-bottom: 10px;
}
.info-bars{
	background-color: #e8e7e0;
	
}
.row{
	float: left;
	width: 50%;box-sizing:border-box;
}
.row-1{
	border: 1px #fff solid;
}





.clear{
	clear: both;
}